:root{
    --white: #fff;
    --black: #000;
    --grey: #262626;
    --light-grey: #a8a8a8;
    --dark-grey: #1f1f1f;
    --blue:#0095f6;

}
html,
body{
    scroll-behavior: smooth;
    background-color:var(--black);
    font-family: "roboto", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif, Arial;
    color:var(--white);
    overflow-x: hidden;
    display: flex;
    width:100vw
}
.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
    border-right: 1px solid var(--grey);
}
.logo{
    width: 90px;
}
a{
    color: var(--white);
    text-decoration: none;

}
.link{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 0.8rem;
    padding: 0.7rem 0rem;
}